.App {

}

.swagger-ui .list {
  list-style: none;
}

.swagger-ui .description {
  font-size: 14px;
}

.swagger-ui .active {
  display: block;
}

.swagger-ui .hidden {
  display: none;
}

ul li {
  list-style: none;
}

.swagger-ui .object {
  color: #0F4C93;
}
